## Project Guidelines

1. Create progress.md if there is not any.
2. Read the progress.md and know the previous works.
3. Update progress.md once the current work is done.
4. This is a prototype, so use dummy data.
5. use antd design
6. understand the business from the user attached images to the chat
7. use svg for rendering the images
8. add translations after each new design
9. think as a professional UX designer